.post {
  padding: 3rem 0 0 0 ;
  &__title {
    padding: 0rem 0 15rem 0;
    h1 {
      font-size: 34px;
      font-weight: 700;
      color: $primary-color;
    }
    
  }
  
  &__content {
    background: #EBECF1;
    padding: 3rem 0;
  }
  &__image {
    width: 100%;
      border-radius: 20px;
      overflow: hidden;
    transform: translateY(-50%);
    // height: 400px;

    display: flex;
    justify-content: center;
    
    img {
      border-radius: 20px;
      
      max-width: 900px;
      width: 100%;
      height: 500px;
      object-fit: cover;
      object-position: center;
    }
  }
  &__text {
    margin-top: -200px;
    font-size: 15px;

    max-width: 100%;
    img {
      max-width: 100%;
      margin: 1rem 0;
    }
  }

  &__shared {
    margin: 4rem 0 0;
    display: flex;
    justify-content: space-between;
    &-social {
      display: flex;
      align-items: center;
      p {
        font-weight: 700;
        margin: 0;
      }
      a {
        margin: 0 .5rem;
        font-weight: 700;
      }
      i {
        font-size: 1.4rem;
        color: $primary-color;
      }
    }

    &-button {
      a {

        background: $primary-color;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        padding: .3rem 2rem;
        border-radius: 20px;
      }

     
    }
  }

  @include responsive(mobile){

    &__image {
      // height: 300px;
    }
    &__shared {
      flex-direction: column;
      align-items: center;
      &-button{
        margin-top: 2rem;
      }
    }
  }
}